tiktoken
tqdm
langcodes
language_data
openai
backoff
numpy
rouge_score
fire
sentencepiece
wandb
accelerate
bertviz
jupyterlab
ipywidgets
unbabel-comet==2.0.1
tabulate==0.9.0
termcolor==2.3.0
git+https://github.com/huggingface/transformers.git@60d51ef5123d949fd8c59cd4d3254e711541d278
git+https://github.com/google-research/bleurt.git@cebe7e6f996b40910cfaa520a63db47807e3bf5c